.turn_page_button
  =render 'partials/article/page_turn_button'
.article_area
  %h1
    =@article.title

  -if @article.tag
    = '-'+ @article.tag.name 
  -else
    = '- Others'
  %p
    =mark_down(@article.content)
.link_area
  =link_to '首页', root_path

:css
  .article_area{
    border-style:outset;
    border-width: 1px;
    margin-left:5%;
    margin-right:5%;
    padding: 10px;
  }

  .link_area{
    text-align: right;
    margin-right:5%;
  }