
<body style="padding: 0 0 0;">
  <div class="nav navbar-fixed-top" style="height:60px; background:none;">
    <h1 style="text-align:center" >
      简历
    </h1>
    <div style='margin:20px;width:80%; margin-left:10%;'>
    <table >
      <tr><td >
    <div>
      <h3>简介：</h3>李浩，男，目前在西安，2011年毕业于西北大学，软件工程专业。
      <br/>
      喜欢踢足球和游泳。
    </div></td>
    </tr>
      <tr><td>
    <div>
      <h3>工作经历：</h3>
      <p>2011-11/2012-10：</p>毕业之后第一份工作，接触Rails，期间负责开发和维护一个基于Rails的管理平台，用于管理公司内部的产品的代码，命令等各方面资料，平台架构搭建好之后，我主要负责对平台需求进行跟进和完善。
      <p>2013-10/2014-9：</p>加入一个创业公司，期间负责公司技术相关方面所有问题，包括但不限于从前台IE适配到服务器部署，以及memcached，solar等服务的搭建。学到很多东西，也经历了创业这条路的第一课。期间主要负责Saas平台的搭建和扩展；平台业务以及平台API的设计，标准制定和实现。在技术和理念上得到双重提升，也获得了视野的突破。
    </div></td>
    </tr>
      <tr><td>
    <div>
      <h3>项目经验：</h3>
      <p>在线商城系统：</p>
      项目介绍：这是一家在线汽车用品和服务网站。其中提供：供应商发布，管理，统计商品；平台管理员审核管理商品，订单，用户和商家信息；以及注册登录在线购买等功能；集成用户数据，消费数据等数据统计功能。<br/> 负责工作：这个项目从设计之初我就参与，我主要负责商城从设计到最终实现的整个过程。包括：平台设计和搭建；商城功能完善；数据统计功能开发；缓存处理；服务器管理等。
      <br/> 主要技术：
      <ul>
        <li>
          Rails：平台采用rails基础搭建，以类spree电商平台为参考独立开发而成；登录注册等用户入口采用devise和自主开发结合的方式；存储使用Mysql数据库；缓存用Memcached服务；内部检索使用solar服务；前端主体为Bootstrap和Jquery结合；后期加入Angular Js；手机端使用Jquery Mobile开发。同时提供微信公众号，以及用户管理，统计数据API接口。
        </li>
        <li> Nginx + Unicorn：服务器使用阿里云；server最开始为nginx+thin的方式；静态资源和动态资源分开存储到不同服务器。后来由于Unicorn无缝重启的优点，所有该换到Unicorn，最大限度保证用户网站体验。
        </li>
        <li> mina + Git：自动部署和托管分别使用mina和github。
        </li>
        <li> Jquery, Jquery-mobile：网站和手机前端分别依赖Jquery和Jquery－mobile。网站端后期在统计平台等页面使用AngularJs优化用户体验。</li>
      </ul>
      <p>旅游托管平台：</p>项目介绍：这是一个在线旅游和景区托管平台。主要提供对景区和旅游全方位包装和优化的功能，包括IOS，安卓以及网站端的平台化开发。<br/>负责工作：我主要负责景区托管部分和平台API部分开发，包括数据库设计，API定制和开发，网站开发，测试和维护。景区托管平台包括提供景区针对票务的各种管理和数据统计，人员管理，景区信息管理，景区分销商管理等功能，旨在能为景区所有者提供最大化的帮助和效率提高。
      <br/> 主要技术：Rails, Nginx, Unicorn, Jquery, Bootstrap。
    </div></td>
    </tr>
      <tr><td>
    <div>
      <h3>技术栈11：</h3>
      <p>Rails, Ruby, Mysql, Mongodb, Unicorn, Nginx, Puma, Cap, Bootstrap, CoffeeScript, jQuery, AngularJs, BackboneJs, Phalcon, Git.</p>
      <p>当然，Rails中常用的各种gem以及其代表的技术也有使用，gem不一一列举，不过对gem的分析有过几篇文章，分别是对Rails源码的分析（进行中）和一篇早先对Faker源码的分析。</p>
      <p>
        github: GaaraLi
        <br/>
        stackoverflow: realwol
        <br/>
        ruby-china: realwol
        <br/>
        blog: http://115.28.32.95(备案难啊！)
        <br/>
        email: realwol@gmail.com
      </p>
    </div></td>
    </tr>
    </table>
  </div>
  <style type='text/css'>
  table{border-collapse:collapse;border-spacing:0;border-left:1px solid #888;border-top:1px solid #888;background:#efefef;}
th,td{border-right:1px solid #888;border-bottom:1px solid #888;padding:5px 15px;}
th{font-weight:bold;background:#ccc;}
  </style>
  </body>
